:root {
  /* Typography */
  --font-family: "Inter";
  --font-feature-settings: "ss08" on, "ss02" on, "liga" off;
  --font-variation-settings: normal;
  --mono-font-family: "JetBrains Mono";
  --mono-font-feature-settings: normal;
  --mono-font-variation-settings: "ss08" on, "ss02" on, "liga" off;
  --text-xxs: 0.75rem;
  --text-xs: 0.8125rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-display: 10rem;
  --leading-xxs: 0.75rem;
  --leading-xs: 0.875rem;
  --leading-sm: 1rem;
  --leading-md: 1.25rem;
  --leading-lg: 1.5rem;
  --leading-xl: 1.75rem;
  --tracking-tight: -0.0125em;

  /* Colors */
  --color-primary: #f0dc50;
  --color-success: #00f767;
  --color-error: #fc0738;
  --color-background: #07080a;
  --color-background-variant: #606060;
  --color-on-background: #fff;
  --color-surface: #111214;
  --color-surface-variant: #0d0d0dd4;
  --color-surface-low: #1212129d;
  --color-surface-low-variant: #0d0d0d93;
  --color-surface-high: #1b1c1e;
  --color-surface-high-variant: #2b2b2bd4;
  --color-surface-invert: #e6e6e6;
  --color-surface-invert-variant: #fff;
  --color-surface-bright: #332e2eb7;
  --color-on-surface: #fff;
  --color-on-surface-invert: #2f3031;

  /* Shadows */
  --surface-shadow: 0 1.5px .5px 2.5px rgba(0, 0, 0, .4), 0 0 .5px 1px #000, inset 0 2px 1px 1px rgba(0, 0, 0, .25), inset 0 1px 1px 1px hsla(0, 0%, 100%, .2), inset 0 0 0 0 transparent;
  --surface-invert-shadow: 0 0 0 2px rgba(0, 0, 0, .5), 0 0 14px 0 hsla(0, 0%, 100%, .19), inset 0 -1px .4px 0 rgba(0, 0, 0, .2), inset 0 1px .4px 0 var(--color-surface-invert-variant);
  --text-shadow: 0 4px 4px rgba(0, 0, 0, .15);

  /* Gradients */
  --gradient-dotted: radial-gradient(var(--color-background-variant) .5px, transparent 0) -8.5px -8.5px / 17px 17px;
  --gradient-surface: radial-gradient(75% 75% at 50% 91.9%, var(--color-surface) 0, var(--color-surface-variant) 100%);
  --gradient-surface-low: radial-gradient(75% 75% at 50% 91.9%, var(--color-surface-low) 0, var(--color-surface-low-variant) 100%);
  --gradient-surface-high: radial-gradient(75% 75% at 50% 91.9%, var(--color-surface-high) 0, var(--color-surface-high-variant) 100%);

  /* Curves */
  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-full: 9999px;

  /* Spacings */
  --spacing-0-25: 2px;
  --spacing-0-5: 4px;
  --spacing-1: 8px;
  --spacing-1-5: 12px;
  --spacing-2: 16px;
  --spacing-2-5: 20px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
}